@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(131, 131, 131); 
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(70, 70, 70);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70); 
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(36, 36, 36);
}

.smoke {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 1;
}
.smoke span {
	position: relative;
	color: rgb(235, 69, 8);
	font-family: sans-serif;
	font-weight: bold;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-size: 20px;
	animation: solo 3s linear infinite;
}
.smoke span:nth-child(1) {
	animation-delay: 0s;
}
.smoke span:nth-child(2) {
	animation-delay: 0.2s;
}
@keyframes solo {
	25% {
		filter: blur(25px);
	}
	50% {
		filter: blur();
	}
	75% {
		filter: blur();
	}
	100% {
		filter: blur();
	}
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    color: #eeeeee;
}
.header__logo {
    color: #eeeeee;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
}
#logo__name {
    color: rgb(235, 69, 8);
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item {
    margin: 0px 8px;
}
.nav__link {
    padding: 5px;
    color: #eeeeee;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
}
.nav__link:hover {
    color: rgb(235, 69, 8);
}
hr {
    width: 10px;
}
.header__toggle, .header__close {
    display: none;
    cursor: pointer;
}

section {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.container {
    min-height: 92.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-sec {
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}
.head-sec::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1 {
    display: block;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
    font-size:xx-large;
}
#hero h1:nth-child(2) {
    animation-delay: 2s;
    font-size: xx-large;
}
#hero h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
    font-size: 4rem;
    text-transform: uppercase;
}
#hero h1 span {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 0%;
    background-color: rgb(235, 69, 8);
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
#hero .cta {
    display: inline-block;
    padding: 5px 20px;
    color: rgb(235, 69, 8);
    background-color: transparent;
    border: 2px solid rgb(235, 69, 8);
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    color: #ffffff;
    transition-property: background-color, color;
    border-radius: 5px;
}
#hero .cta:hover {
    color: #ffffff;
    background-color: rgb(235, 69, 8);
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: #ffffff;
    }
}
@keyframes text_reveal_name {
    100% {
        color: rgb(235, 69, 8);
    }
}

#full-stack {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: x-large;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@keyframes reveal {
    80%{
      letter-spacing: 8px;
    }
    100% {
      background-size: 300% 300%;
    }
}
@keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
}

/* About */
.main {
    width: 100%;
    padding: 5% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img img {
    width: 270px;
    transform: translateY(25px);
    transition: .5s;
    border: 5px solid rgb(63, 63, 63);
    border-radius: 0% 5% 0% 5%;
}
.text h1 {
    font-size: 58px;
    color: #ffffff;
    position: relative;
}
.text h1::after {
    position: absolute;
    content: '';
    width: 20%;
    height: 4px;
    background-color: rgb(235, 69, 8);
    left: 0%;
    bottom: 2px;
}
.text p {
    font-size: 15px;
    color: #ffffff;
    line-height: 28px;
    margin: 30px 0 35px 0;
    max-width: 600px;
}
.btn1 {
    padding: 7px 25px;
    border: 2px solid rgb(235, 69, 8);
    color: #ffffff;
    transition: all .5s ease;
    border-radius: 5px;
    text-decoration: none;
}
.btn1:hover {
    background-color: rgb(235, 69, 8);
}
#img-inner {
    display: none;
}

/* Experience */
.experience {
    width: 90%;
    padding: 0% 5%;
    display: flex;
    align-items: center;
}
.experience img {
    width: 10%;
    margin: 0px 50px 0px 0px;
    transition: .5s;
    padding: 1%;
    transform: translateY(12px);
    border: 5px solid rgb(63, 63, 63);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.experience_content h2 {
    color: rgb(235, 69, 8);
    font-size: 20px;
}
.experience p {
    font-size: 15px;
    color: #ffffff;
    line-height: 28px;
    margin: 30px 0 35px 0;
    width: 80%;
    min-width: 600px;
    padding: 2% 5%;
    border-radius: 10px;
    border: 2px solid rgb(63, 63, 63);
    position: relative;
}
.experience p::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(63, 63, 63);
    border-left-color: transparent;
    border-top-color: transparent;
    transition: .5s;
    top: 35%;
    left: -12px;
    transform: rotate(135deg);
}
.experience_topic {
    width: 90%;
    margin: 1% auto;
    font-size: 50px;
    color: #ffffff;
    position: relative;
}
.experience_topic::after {
    position: absolute;
    content: '';
    width: 20%;
    height: 4px;
    background-color: rgb(235, 69, 8);
    left: 0%;
    bottom: 2px;
}

/* skills */
#skills {
    width: 100%;
    background-color: rgb(44, 44, 44);
    border-radius: 70px 70px 0px 0px;
    padding: 10px;
}
#skills h1 {
    width: 90%;
    margin: 5% auto;
    font-size: 50px;
    color: #ffffff;
    position: relative;
}
#skills h1::after {
    position: absolute;
    content: '';
    width: 10%;
    height: 4px;
    background-color: rgb(235, 69, 8);
    left: 0%;
    bottom: 2px;
}
.skills {
    width: 90%;
    margin: 10px auto;
}
.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.skills ul li {
    margin: 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.skills ul li ion-icon {
    color: #ffffff;
    margin: 10px;
    font-size: 30px;
}
.skills ul li p {
    font-size: 30px;
    color: #ffffff;
}
.tooltip {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.skills ul li:hover .tooltip {
    opacity: 1;
    bottom: -23px;
    pointer-events: auto;
}
.tooltip::before {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    background-color: #fff;
    top: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

/* projects */
#projects {
    width: 100%;
    background-color: rgb(44, 44, 44);
    padding: 10px;
}
#projects h1 {
    width: 90%;
    margin: 5% auto;
    font-size: 50px;
    color: #ffffff;
    position: relative;
}
#projects h1::after {
    position: absolute;
    content: '';
    width: 10%;
    height: 4px;
    background-color: rgb(235, 69, 8);
    left: 0%;
    bottom: 2px;
}
.blog-post {
    width: 90%;
    margin: 10px auto;
    max-width: 98rem;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.blog-post__img {
    min-width: 300px;
    max-width: 300px;
    height: 200px;
    transform: translateX(-2rem);
    position: relative;
}
.blog-post__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0.8rem;
}
.blog-post__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
    border-radius: 0.8rem;
}
.blog-post__title {
    font-size: 20px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    color: rgb(235, 69, 8);
}
.blog-post__text {
    margin-bottom: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}
.blog-post__cta {
    display: inline-block;
    margin-top: 20px;
    padding: 3px 7px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(235, 69, 8);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(235, 69, 8);
    transition: 0.5s;
}
.blog-post__cta:hover {
    background-color: rgb(235, 69, 8);
    color: #eeeeee;
}
.blog-post__cnt button {
    outline: none;
    border: 1px solid transparent;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 10px;
    color: white;
}
.blog-post__cnt .html {
    background-color: rgb(255, 102, 0);
}
.blog-post__cnt .css {
    background-color: rgb(0, 149, 207);
}
.blog-post__cnt .js {
    background-color: rgb(221, 221, 0);
}
.blog-post__cnt .bootstrap {
    background-color: blueviolet;
}
.blog-post__cnt .react {
    background-color: blue;
}
.blog-post__cnt .express {
    background-color: gray;
}
.blog-post__cnt .nodejs {
    background-color: rgb(42, 189, 42);
}
.blog-post__cnt .mongodb {
    background-color: darkgreen;
}
.blog-post__cnt .pwa {
    background-color: rgb(148, 148, 148);
}

/* contact */
.contact {
    width: 90%;
    margin: 20px auto;
}
.contact h1 {
    font-size: 20px;
    color: #ffffff;
    position: relative;
    text-align: center;
}
.contact ul  {
    list-style: none;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact ul li {
    margin: 5px;
    cursor: pointer;
}
.contact ul li a {
    color: #eeeeee;
    text-decoration: none;
    transition: 0.5s;
    padding: 5px;
    border: 0.5px solid #eeeeee;
    border-radius: 50%;
}
.contact ul li a:hover {
    color: rgb(235, 69, 8);
    border: 0.5px solid rgb(235, 69, 8);
}
h4, h5 {
    text-align: center;
}
h5 {
    color: #eeeeee;
}
h4 {
    color: rgb(255, 102, 0);
}

@media screen and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }
    .blog-post__img {
        min-width: 300px;
        max-width: 300px;
    }
}
@media screen and (max-width: 868px) {
    .blog-post {
        padding: 5px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    .blog-post {
        padding: 10px;
        flex-direction: column;
    }
    .blog-post__title {
        font-size: 17px;
        margin: 3px 0 5px;
        text-transform: uppercase;
        color: rgb(235, 69, 8);
    }
    .blog-post__text {
        margin-bottom: 5px;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.7);
    }
    .blog-post__img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -4rem);
    }
}

@media screen and (max-width: 1100px) {
    .main {
        width: 100%;
        padding: 5% 5%;
    }
    .img img {
        width: 250px;
    }
    .text h1 {
        font-size: 50px;
    }
    .text p {
        font-size: 15px;
        color: #ffffff;
        line-height: 28px;
        margin: 25px 0 30px 0;
        max-width: 600px;
    }
}

@media screen and (max-width: 990px) {
    .img img {
        width: 200px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text p {
        margin: 20px 0 25px 0;
        max-width: 550px;
    }
}

@media screen and (max-width: 850px) {
    .img img {
        width: 200px;
    }
    .text h1 {
        font-size: 45px;
    }
    .text p {
        margin: 15px 0 20px 0;
        max-width: 500px;
    }
}

@media screen and (max-width: 768px) {
    hr {
        display: none;
    }
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0px 28px;
    }
    .header__logo {
        font-size: 25px;
    }
    .header__toggle {
        display: inline;
        color: #eeeeee;
        font-size: 24px;
    }
    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .header__close:hover {
        background-color: rgb(235, 69, 8);
    }
    .nav {
        position: fixed;
        top: 0%;
        right: -100%;
        background-color: rgb(63, 63, 63);
        color: #eeeeee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0% 0% 0% 50%;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
    }
    .nav__item {
        margin: 2rem 0;
    }
    .show {
        right: 0%;
    }

    #hero h1:nth-child(1) {
        font-size:large;
    }
    #hero h1:nth-child(2) {
        font-size: large;
    }
    #hero h1:nth-child(3) {
        font-size: 2.5rem;
    }
    #full-stack {
        font-size: large;
    }
    #hero .cta {
        padding: 5px 15px;
        font-size: .8rem;
        margin-top: 30px;
    }
    .main {
        display: block;
        width: 100%;
        margin: 0% auto;
        padding: 5% 5%;
    }
    .text h1 {
        font-size: 40px;
    }
    .text p{
        width: 90%;
        margin: 10% 0%;
        font-size: 15px;
        max-width: 100%;
    }
    .img {
        width: 90%;
        margin: 10% auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
    }
    #img-outer {
        display: none;
    }
    #img-inner {
        display: block;
    }
    .btn {
        text-align: center;
        margin: 10% 0%;
    }

    .experience_topic {
        font-size: 40px;
    }
    .experience {
        padding: 0% 5%;
        margin-top: 10% 0%;
    }
    .experience img {
        transform: translateY(3px);
    }
    .experience_content h2 {
        font-size: 15px;
    }
    .experience p {
        font-size: 13px;
        line-height: 25px;
        margin: 15px 0 20px 0;
        width: 85%;
        min-width: 350px;
    }
    .experience p::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgb(36, 36, 36);
        border: 2px solid rgb(63, 63, 63);
        border-left-color: transparent;
        border-top-color: transparent;
        transition: .5s;
        top: 35%;
        left: -12px;
        transform: rotate(135deg);
    }
    .experience_topic {
        width: 90%;
        margin: 1% auto;
        font-size: 40px;
        color: #ffffff;
        position: relative;
    }
    .experience_topic::after {
        position: absolute;
        content: '';
        width: 20%;
        height: 4px;
        background-color: rgb(235, 69, 8);
        left: 0%;
        bottom: 2px;
    }
    #skills h1 {
        font-size: 40px;
    }
    #skills h1::after {
        width: 15%;
    }
    #skills {
        border-radius: 30px 30px 0px 0px;
    }
    #projects h1 {
        font-size: 40px;
    }
    #projects h1::after {
        width: 20%;
    }
}

@media screen and (max-width: 500px) {
    .experience {
        padding: 1% 2%;
        margin: 1% 0%;
    }
    .experience img {
        width: 15%;
        margin: 0px 50px 0px 0px;
        transition: .5s;
        padding: 1%;
        transform: translateY(6px);
        border: 5px solid rgb(63, 63, 63);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    .experience_content h2 {
        font-size: 15px;
    }
    .experience p {
        font-size: 13px;
        color: #ffffff;
        line-height: 20px;
        margin: 15px 0 20px 0;
        width: 85%;
        min-width: 230px;
        padding: 2% 10%;
        border-radius: 10px;
        border: 2px solid rgb(63, 63, 63);
        position: relative;
    }
    .experience p::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgb(36, 36, 36);
        border: 2px solid rgb(63, 63, 63);
        border-left-color: transparent;
        border-top-color: transparent;
        transition: .5s;
        top: 35%;
        left: -12px;
        transform: rotate(135deg);
    }
    .experience_topic {
        width: 90%;
        margin: 1% auto;
        font-size: 40px;
        color: #ffffff;
        position: relative;
    }
    .experience_topic::after {
        position: absolute;
        content: '';
        width: 20%;
        height: 4px;
        background-color: rgb(235, 69, 8);
        left: 0%;
        bottom: 2px;
    }
}